# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VScode
.vscode

# Executables
*.exe
*.out
*.app

# Project related files
.cache
compile_commands.json
ircserv
ircbot
.env

# Subject File
subject.pdf
tester/output.log
